SodimacService/CuentaCorrienteSaldoObtenerServiceClient/classes/com/falabella/mdwcorp/sod/cl/osb/wsdl/cuentacorriente/saldo/obtener_v1/CuentaCorrienteSaldoObtenerPort3.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">
  <xsd:element name="Fault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="faultcode" type="xsd:string" minOccurs="0"/>
        <xsd:element name="faultstring" type="xsd:string" minOccurs="0"/>
        <xsd:element name="faultactor" type="xsd:string" minOccurs="0"/>
        <xsd:element name="detail" type="xsd:anyType" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>