SodimacService/CuentaCorrienteSaldoObtenerServiceClient/classes/com/falabella/mdwcorp/sod/cl/osb/wsdl/cuentacorriente/saldo/obtener_v1/CuentaCorrienteSaldoObtenerPort1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://mdwcorp.falabella.com/SOD/CL/OSB/schema/Cuentacorriente/Saldo/Obtener/Req-v2016.07" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mdwcorp.falabella.com/SOD/CL/OSB/schema/Cuentacorriente/Saldo/Obtener/Req-v2016.07">
  <xsd:complexType name="cuentaCorrienteSaldoObtenerExpReq_TYPE">
    <xsd:sequence>
      <xsd:element name="cuentaCorrienteSaldoObtenerReqParam" type="ns0:cuentaCorrienteSaldoObtenerReqParam_TYPE"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cuentaCorrienteSaldoObtenerReqParam_TYPE">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:string"/>
      <xsd:element name="idEmpresa" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="cuentaCorrienteSaldoObtenerExpReq" type="ns0:cuentaCorrienteSaldoObtenerExpReq_TYPE"/>
</xsd:schema>